@model Nullam.Pages.Party.EventsPage
@using Nullam.Pages.Extensions
@{
    ViewData["SubTitle"] = Model?.TitleForDetailsView;
    ViewData["Title"] = Model?.TitleForDetailsView;
    Layout = "_Layout";
    var itemId = Model?.ItemId?? string.Empty; 
    var token = Model?.Token?? string.Empty;  
}

<style>
    .wrapper {
        display: flex;
        width: 100%;
        flex: auto;
    }

    .title {
      background-color: steelblue;
      color: white;
      text-align: center;
      width: 25%;
      aspect-ratio: 10/1;
    }

    .picture-div {
      background-image: url('lib/libled.jpg');
      background-position: center;
      background-size: cover;
      width: 75%;
      aspect-ratio: 10/1;
    }
</style>

<div class="wrapper">
    <div class="title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="picture-div"> </div>
</div>

<p style="color:steelblue">@ViewData["SubTitle"]</p>
<hr />

<div>
   @Html.MyBtn("Muuda", "EDIT", itemId, "Events")
</div>
<div>

   @RenderBody()

</div>

<h4>Osavõtjate lisamine</h4>

<div>
    <button class="btn btn-primary" onclick="location.href='https://localhost:7254/Persons/Create?handler=Create'" type="button">
         Eraisik</button>
    <button class="btn btn-primary" onclick="location.href='https://localhost:7254/Organizations/Create?handler=Create'" type="button">
         Ettevõte</button>
</div>
<p></p>
<p></p>
<div>
    <a class="btn btn-light"
       asp-page="Index" 
       asp-page-handler = "Index" 
       asp-route-order="@Model?.CurrentOrder"
       asp-route-index="@Model?.PageIndex" 
       asp-route-filter="@Model?.CurrentFilter"
    >Tagasi</a>

</div>