@model Nullam.Pages.Party.EventsPage
@{
    ViewData["SubTitle"] = Model?.TitleForDetailsView;
    ViewData["Title"] = Model?.TitleForDetailsView;
    Layout = "_Layout";
    var itemId = Model?.ItemId?? string.Empty; 
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@ViewData["SubTitle"]</h4>
    <hr />

   @RenderBody()

</div>

<div>
    <a class="btn btn-light"
       asp-page="Index" 
       asp-page-handler = "Index" 
       asp-route-order="@Model?.CurrentOrder"
       asp-route-index="@Model?.PageIndex" 
       asp-route-filter="@Model?.CurrentFilter"
    >Tagasi</a>
</div>