@{
	ViewData["SubTitle"] = Model?.TitleForDetailsView;
    ViewData["Title"] = Model?.TitleForDetailsView;
    Layout = "_Layout";
}

<style>
    .wrapper {
        display: flex;
        width: 100%;
        flex: auto;
    }

    .title {
      background-color: steelblue;
      color: white;
      text-align: center;
      width: 25%;
      aspect-ratio: 10/1;
    }

    .picture-div {
      background-image: url('lib/libled.jpg');
      background-position: center;
      background-size: cover;
      width: 75%;
      aspect-ratio: 10/1;
    }
</style>

<div class="wrapper">
    <div class="title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="picture-div"> </div>
</div>

<p style="color:steelblue">@ViewData["SubTitle"]</p>
<hr />

<form method="post" 
        asp-page-handler = "Edit" 
        asp-route-order="@Model?.CurrentOrder"
        asp-route-index="@Model?.PageIndex" 
        asp-route-filter="@Model?.CurrentFilter"
>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    @RenderBody()
    
    <div class="form-group">
        <input type="submit" value="Salvesta" class="btn btn-primary" />
        <button class="btn btn-primary" onclick="history.back()">Tagasi</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
