@{
    Layout = "_Layout";
}

<form method="get"
      asp-page="./Index" 
      asp-route-order="@Model?.CurrentOrder"
      asp-route-index="@Model?.PageIndex" 
>
    <input type="hidden" name="handler" value="Index" />
</form>

   @RenderBody()

