@page
@model Nullam.Pages.Party.EventsPage
@using Nullam.Pages.Extensions
@{
    Layout="_Index";
    var buttonsForUpcomingEvents = new Dictionary<string,string>{{ "MUUDA", "EDIT" }, { "OSAVÕTJAD", "DETAILS" }, { "<img alt=\"Remove\" src=\"lib/remove.svg\" width=\"7%\" height=\"7%\"/>", "DELETE" } };
    var buttonsForPastEvents = new Dictionary<string,string>{ { "OSAVÕTJAD", "DETAILS" } };
    var upcomingEvents = Model.GetUpcomingEvents(Model?.Items);
    var pastEvents = Model.GetPastEvents(Model?.Items);
}
<style>
    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    h4 {
        text-align: center;
        color: white;
        background-color: steelblue;
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex: auto;
    }

    .paragraph {
      background-color: steelblue;
      color: white;
      border:solid;
      border-width:30px;
      border-color:steelblue;
      text-align: center;
      width: 50%;
      aspect-ratio: 2/1;
    }

    .image-div {
      background-image: url('lib/pilt.jpg');
      background-position: center;
      background-size: cover;
      width: 50%;
      aspect-ratio: 2/1;
    }
</style>

<body>
    <div class="wrapper">
        <div class="paragraph">
            <p style="display: inline-block; font-size: 125%; text-align:left; word-wrap: break-word;"> 
                Sed nec elit vestibulum, tincidunt orci et, sagittis
                ex. Vestibulum rutrum neque suscipit ante 
                mattis maximus. Nulla non sapien viverra 
                lobortis lorem non, accumsan metus.
            </p>
        </div>
        <div class="image-div"> </div>
    </div>

    <br />

    <div class="row">
        <div class="column">
            <h4>Tulevased üritused</h4>
            <p>
                <table>
                    @Html.ShowTable(upcomingEvents, buttonsForUpcomingEvents)
                </table>
            </p>
        </div>

        <div class="column">
            <h4>Toimunud üritused</h4>
            <p>
                <table>
                    @Html.ShowTable(pastEvents, buttonsForPastEvents)
                </table>
            </p>
            
        </div>
    </div>
</body>

<div>
    <a class="btn btn-light"
       asp-page="Create" 
       asp-page-handler = "Create" 
       asp-route-order="@Model?.CurrentOrder"
       asp-route-index="@Model?.PageIndex" 
       asp-route-filter="@Model?.CurrentFilter"
    >Lisa üritus</a>
</div>